<!-- base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Your Django App{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

  <div class="sidebar-header">
    <a href="index.html" class="sidebar-brand">
        <img class="sidebar-brand_icon" src="assets/dist/img/mini-logo.png" alt="">
        <span class="sidebar-brand_text">Bhu<span>lua</span></span>
    </a>
</div>
<!--/.sidebar header-->
<div class="profile-element d-flex align-items-center flex-shrink-0">
    <div class="avatar online">
        <img src="assets/dist/img/man6.png" class="img-fluid rounded-circle" alt="">
    </div>
    <div class="profile-text">
        <h6 class="m-0">Naeem Khan</h6>
        <span>example@gmail.com</span>
    </div>
</div>
<!--/.profile element-->
<form class="search sidebar-form" action="#" method="get">
    <div class="search__inner">
        <input type="text" class="search__text" placeholder="Search...">
        <i class="typcn typcn-zoom-outline search__helper" data-sa-action="search-close"></i>
    </div>
</form>
<!--/.search-->
<div class="sidebar-body ps ps--active-y">
    <nav class="sidebar-nav">
        <ul class="metismenu">
            <li class="nav-label">
                <span class="nav-label_text">Main Menu</span>
                <small class="ti-more-alt nav-label_ellipsis"></small>
            </li>
            <li class="mm-active">
                <a class="has-arrow material-ripple" href="#" aria-expanded="true"><div class="material-ink animate" style="height: 220px; width: 220px; top: -101.5px; left: 70px;"></div>
                    <i class="typcn typcn-home-outline"></i> Dashboard
                </a>
                <ul class="nav-second-level mm-collapse mm-show" style="">
                    <li><a href="index.html">Default</a></li>
                    <li><a href="dashboard_two.html">Dashboard Two</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow material-ripple" href="#" aria-expanded="false">
                    <i class="typcn typcn-chart-pie-outline"></i> Charts
                </a>
                <ul class="nav-second-level mm-collapse">
                    <li><a href="charts_flot.html">Flot Chart</a></li>
                    <li><a href="charts_Js.html">Chart js</a></li>
                    <li><a href="charts_morris.html">Morris Charts</a></li>
                    <li><a href="charts_sparkline.html">Sparkline Charts</a></li>
                    <li><a href="charts_am.html">Am Charts</a></li>
                    <li><a href="charts_apex.html">Chart Apex</a></li>
                </ul>
            </li>
            <li><a href="chat.html" aria-expanded="false"><i class="typcn typcn-messages"></i> Chat</a></li>
            <li>
                <a class="has-arrow material-ripple" href="#" aria-expanded="false">
                    <i class="typcn typcn-mail"></i> Mailbox
                </a>
                <ul class="nav-second-level mm-collapse">
                    <li><a href="mailbox.html">Mailbox</a></li>
                    <li><a href="mailbox_details.html">Mailbox Details</a></li>
                    <li><a href="compose.html">Compose</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow material-ripple" href="#" aria-expanded="false">
                    <i class="typcn typcn-archive"></i> Tables
                </a>
                <ul class="nav-second-level mm-collapse">
                    <li><a href="tables_bootstrap.html">Bootstrap tables</a></li>
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false">Data tables</a>
                        <ul class="nav-third-level mm-collapse">
                            <li><a href="tables_data_basic.html">Basic initialization</a></li>
                            <li><a href="tables_data_sources.html">Data sources</a></li>
                            <li><a href="tables_data_api.html">API</a></li>
                            <li><a href="tables_data_styling.html">Styling</a></li>
                            <li><a href="tables_data_advanced.html">Advanced initialization</a></li>
                            <li><a href="tables_data_bootstrap4.html">Bootstrap4</a></li>
                        </ul>
                    </li>
                    <li><a href="tables_foo.html">FooTable</a></li>
                    <li><a href="tables_jsgrid.html">Jsgrid table</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow material-ripple" href="#" aria-expanded="false">
                    <i class="typcn typcn-clipboard"></i> Forms
                </a>
                <ul class="nav-second-level mm-collapse">
                    <li><a href="forms_basic.html">Basic Forms</a></li>
                    <li><a href="forms_input_group.html">Input group</a></li>
                    <li><a href="forms_mask.html">Form Mask</a></li>
                    <li><a href="forms_touchspin.html">Touchspin</a></li>
                    <li><a href="forms_select.html">Select</a></li>
                    <li><a href="forms_cropper.html">Cropper</a></li>
                    <li><a href="forms_file_upload.html">Forms File Upload</a></li>
                    <li><a href="forms_editor_ck.html">CK Editor</a></li>
                    <li><a href="forms_editor_summernote.html">Summernote</a></li>
                    <li><a href="forms_wizard.html">Form Wizaed</a></li>
                    <li><a href="forms_editor_markdown.html">Markdown</a></li>
                    <li><a href="forms_editor_trumbowyg.html">Trumbowyg</a></li>
                    <li><a href="forms_editor_wysihtml5.html">Wysihtml5</a></li>
                </ul>
            </li>
            <li class="nav-label">
                <span class="nav-label_text">Components</span>
                <small class="ti-more-alt nav-label_ellipsis"></small>
            </li>
            <li>
                <a class="has-arrow material-ripple" href="#" aria-expanded="false">
                    <i class="typcn typcn-coffee"></i> UI Elements
                </a>
                <ul class="nav-second-level mm-collapse">
                    <li><a href="ui_buttons.html">Buttons</a></li>
                    <li><a href="ui_badges.html">Badges</a></li>
                    <li><a href="ui_spinners.html">Spinners</a></li>
                    <li><a href="ui_tabs.html">Tab</a></li>
                    <li><a href="ui_notification.html">Notification</a></li>
                    <li><a href="ui_tree_view.html">Tree View</a></li>
                    <li><a href="ui_progressbars.html">Progressber</a></li>
                    <li><a href="ui_list_view.html">List View</a></li>
                    <li><a href="ui_ratings.html">Ratings</a></li>
                    <li><a href="ui_datetime_picker.html">Date &amp; Time Picker</a></li>
                    <li><a href="ui_typography.html">Typography</a></li>
                    <li><a href="ui_modals.html">Modals</a></li>
                    <li><a href="ui_icheck_toggle_pagination.html">iCheck, Toggle, pagination</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow material-ripple" href="#" aria-expanded="false">
                    <i class="typcn typcn-world-outline"></i> Maps
                </a>
                <ul class="nav-second-level mm-collapse">
                    <li><a href="maps_amcharts.html">Amcharts Map</a></li>
                    <li><a href="maps_gmaps.html">gMaps</a></li>
                    <li><a href="maps_data.html">Data Maps</a></li>
                    <li><a href="maps_jvector.html">Jvector Maps</a></li>
                    <li><a href="maps_google.html">Google map</a></li>
                    <li><a href="maps_snazzy.html">Snazzy Map</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow material-ripple" href="#" aria-expanded="false">
                    <i class="typcn typcn-info-large-outline"></i> Icons
                </a>
                <ul class="nav-second-level mm-collapse">
                    <li><a href="icons_bootstrap.html">Bootstrap Icons</a></li>
                    <li><a href="icons_fontawesome.html">Fontawesome Icon</a></li>
                    <li><a href="icons_flag.html">Flag Icons</a></li>
                    <li><a href="icons_material.html">Material Icons</a></li>
                    <li><a href="icons_weather.html">Weather Icons </a></li>
                    <li><a href="icons_line.html">Line Icons</a></li>
                    <li><a href="icons_pe.html">Pe Icons</a></li>
                    <li><a href="icon_socicon.html">Socicon Icons</a></li>
                    <li><a href="icons_typicons.html">Typicons Icons</a></li>
                </ul>
            </li>
            <li><a href="widgets.html" aria-expanded="false"><i class="typcn typcn-gift"></i>Widgets</a></li>
            <li><a href="calender.html" aria-expanded="false"><i class="typcn typcn-calendar-outline"></i>Calendar</a></li>
            <li class="nav-label">
                <span class="nav-label_text">Extra</span>
                <small class="ti-more-alt nav-label_ellipsis"></small>
            </li>
            <li>
                <a class="has-arrow material-ripple" href="#" aria-expanded="false">
                    <i class="typcn typcn-device-tablet"></i> App Views
                </a>
                <ul class="nav-second-level mm-collapse">
                    <li><a href="pos.html">Pos</a></li>
                    <li><a href="pos_print.html">Pos Print</a></li>
                    <li><a href="invoice.html">Invoice</a></li>
                    <li><a href="invoice2.html">Invoice two</a></li>
                    <li><a href="timeline_horizontal.html">Horizontal timeline</a></li>
                    <li><a href="timeline_vertical.html">Vertical timeline</a></li>
                    <li><a href="pricing.html">Pricing Table</a></li>
                    <li><a href="range_slider.html">Range Slider</a></li>
                    <li><a href="carousel.html">Carousel</a></li>
                    <li><a href="code_editor.html">Code editor</a></li>
                    <li><a href="gridSystem.html">Grid System</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow material-ripple" href="#" aria-expanded="false">
                    <i class="typcn typcn-book"></i> Authentication
                </a>
                <ul class="nav-second-level mm-collapse">
                    <li><a href="login.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                    <li><a href="user_profile.html">Profile</a></li>
                    <li><a href="forget_password.html">Forget password</a></li>
                    <li><a href="lockscreen.html">Lockscreen</a></li>
                    <li><a href="404.html">404 Error</a></li>
                    <li><a href="505.html">505 Error</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow material-ripple" href="#" aria-expanded="false">
                    <i class="typcn typcn-flow-merge"></i> Multi Level Menu
                </a>
                <ul class="nav-second-level mm-collapse">
                    <li><a href="#">Menu Item</a></li>
                    <li><a href="#">Menu Item - 2</a></li>
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false">Level - 2</a>
                        <ul class="nav-third-level mm-collapse">
                            <li><a href="#">Menu Item</a></li>
                            <li>
                                <a class="has-arrow" href="#" aria-expanded="false">Level - 3</a>
                                <ul class="nav-fourth-level mm-collapse">
                                    <li><a href="#">Level - 4</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class=""><a href="blank-page.html" aria-expanded="false"><i class="typcn typcn-bookmark"></i>Blank page</a></li>
            <li>
                <a class="has-arrow material-ripple" href="#" aria-expanded="false">
                    <i class="typcn typcn-puzzle-outline"></i> Layouts
                </a>
                <ul class="nav-second-level mm-collapse">
                    <li><a href="layouts_layout.html">Layout</a></li>
                    <li><a href="layouts_fixed.html">Fixed layout</a></li>
                    <li><a href="layouts_fixed-without__navbar.html">Fixed layout without navbar</a></li>
                </ul>
            </li>
            <li><a href="changelog.html" aria-expanded="false"><i class="typcn typcn-attachment-outline"></i>Changelog<span class="badge rounded-pill bg-success">v1.1.0</span></a></li>
            <li><a href="#" aria-expanded="false"><i class="typcn typcn-support"></i>Documentation</a></li>
        </ul>
    </nav>
<div class="ps__rail-x" style="left: 0px; top: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 640px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 434px;"></div></div></div>
<!-- sidebar-body -->

    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #6351ce">
        <div class="container-fluid" >
            <a class="navbar-brand" href="#">SAAS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Contact</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link text-white" href="{% url 'second_page' %}">My Profile</a>
                  </li>
                  {%endif%}
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
                  </li>
                  {% endif %}
                  {% if user.is_superuser%}
                  <li class="nav-item">
                    <a  class="nav-link text-white" href="{% url 'user_data_page' %}">Manage User</a>
                </li>
                {%endif%}
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'logout' %}">Sign Out</a>
                </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class=" ">
        {% block content %}{% endblock %}
    </div>
    

    <!-- Remove the container if you want to extend the Footer to full width. -->
<div class=" my-5">

    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #1c2331"
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4"
               style="background-color: #6351ce"
               >
        <!-- Left -->
        <div class="me-5">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div>
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">Company name</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                Here you can use rows and columns to organize your footer
                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit.
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Products</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="#!" class="text-white">MDBootstrap</a>
              </p>
              <p>
                <a href="#!" class="text-white">MDWordPress</a>
              </p>
              <p>
                <a href="#!" class="text-white">BrandFlow</a>
              </p>
              <p>
                <a href="#!" class="text-white">Bootstrap Angular</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Useful links</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="#!" class="text-white">Your Account</a>
              </p>
              <p>
                <a href="#!" class="text-white">Become an Affiliate</a>
              </p>
              <p>
                <a href="#!" class="text-white">Shipping Rates</a>
              </p>
              <p>
                <a href="#!" class="text-white">Help</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
              <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2023 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/"
           >MDBootstrap.com</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  
  </div>
  <!-- End of .container -->
    <!-- footer start-->
    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

</body>

</html>
