{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <h1>My Posts</h1>
    

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Bio</th>
            <th scope="col">Wallet Balance</th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user_details.user.username }}</td>
            <td>{{ user_details.bio }}</td>
            <td>${{ user_details.wallet_balance }}</td>
          </tr>
         
          
        </tbody>
      </table>
</div>

{% endblock content %}