{% block content %}
    <h2>User List</h2>
    <form method="post" >
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Is Active</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <input type="checkbox" name="user_ids" value="{{ user.id }}" {% if user.is_active %}checked{% endif %}>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Update Is Active</button>
    </form>
{% endblock %}