{% extends 'base.html' %}
{% block content %}
    <h2>User List</h2>
   
        <table class="table">
            <thead  class="thead-dark">
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Id</th>
                    <th scope="col">Status</th>
                    <th scope="col">Update Status</th>
                    <th scope="col">Update</th>
                </tr>
            </thead>
            <tbody>
                {% for profile in user_profiles  %}
                <form method="post" action="{% url 'update_user_is_active' %}">
                    {% csrf_token %}
                    <tr>
                        <td scope="row">{{ profile.user.username }}</td>
                        <td scope="row">{{ profile.user.email }}</td>
                        <td scope="row">{{profile.user.id}}</td>
                        <td scope="row">
                            <input type="checkbox" name="user_ids" value="{{ profile.user.id }}" {% if profile.user.is_active %}checked{% endif %}>
                        </td>
                    
                        <td scope="row"> <button type="submit"  class="btn btn-success">Update</button></td>
                        <td scope="row">
                            <a class="link-success" href="{% url 'single_user' user_id=profile.user.id %}">Upate</a>
                        </td>
                    </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>
       
   
{% endblock %}
